body{
	margin: 0;
	padding: 0;
}
.header-container{
	background: black;
	color: white;
	display: flex;
}
.menu-container{
	display: flex;
	justify-content: flex-end;
}
.logo-container{
	flex-grow: 1;
	display: flex;
}
.logo-container img{
	width: 100px;
	height: 80px;
	padding-left: 130px;
}
.logo-content{
	padding-top: 30px;
}
.brand-name{
	font-weight: 900;
	font-size: 20px;
	text-transform: uppercase;
}
.brand-subcontent{
	color: green;
	font-size: 18px;
}
.left-container{
	width: 63%;
	display: inline-block;
}
.right-container{
	width: 30%;
	display: inline-block;
}
.right-container img{
	width: 300px;
	height: 250px;
}
.menu-container{
	justify-content: flex-end;
	display: flex;

}
.menu-container ul{
	list-style: none;
	justify-content: center;
	align-items: center;
	display: flex;
}
.menu-container ul li{
	margin: 0;
	padding: 0;
}
.menu-container ul li a{
	color: white;
	text-decoration: none;
	padding: 10px;
}
.menu-container ul li.active a{
	color: black;
	background: white;
}
.content-container{
	padding: 20px;
}
.head-container{
	font-weight: 600;
	font-size: 23px;
}
.box-image{
background: black;
width: 30%;
}
.box-container{
	padding: 20px;
	color: white;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.box-image{
	width: 165%;
	height: 90px;

}
.division-container{
	background: green;
	flex-basis: 30%;
	 display: flex; 
	

}
.box-content{
	padding-left: 10px;
}
.head{
	display: inli
	ne-block;
	padding-top: 30px;
	padding-left: 30px;
	color: white;
	font-weight: 500;
	font-size: 18px;
}
.box-divisor{
	display: flex;
}
.banner-container{
	display: flex;
}